.pc_case{
	padding: 0 15px;
}
.wx_input{

}
.wx_type_img{
	position: relative;
}
.wx_type_img input{
	
}
.wx_type_img img{
	max-width: 100%;
	max-height: 100px;
}
.wx_type_img div#preview{
	margin: 0;
}
.wx_input input{
	width: 80%;

}
.wx_type_img input#imgUpload{
	margin: 0;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
}
.wx_sub{
	margin-top: 10px;
}
.kr_btn_color .am-text-secondary,a.am-text-secondary:visited{
	color: #3bb4f2;
}
.kr_btn_color .am-text-danger,a.am-text-danger:visited{
	color: #dd514c;
}
.kr_btn_color a{
	background-color: white;
}
.kr_btn_color .am-btn-default:focus,.kr_btn_color  .am-btn-default:hover{
	background-color: #d4d4d4;
}







